.container {
  box-sizing: border-box;
  height: 2200px;
  width: 1000px;
  background-color: #f6f5ee;
  border-radius: 5px;
  margin-left: 400px;
}

h2 {
  box-sizing: border-box;
  height: 40px;
  width: 980px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  background-color: #c1c0be;
  font-family: Arial, sans-serif;
}

h3 {
  text-decoration: underline;
  color: #914307;
  font-family: Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.box_ident {
  box-sizing: border-box;
  height: 100px;
  width: 200px;
  position: absolute;
  border: 1px black none;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.box_photo {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  position: relative;
  border: 1px black none;
  padding-top: 20px;
  padding-left: 900px;
}

.box_titre {
  box-sizing: border-box;
  height: 50px;
  width: 500px;
  position: relative;
  border: 1px black none;
  margin-left: 300px;
}

.box_contact {
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  position: relative;
  border: 1px black none;
  margin-top: 10px;
}